// .about-container {
//     @include secondary-color-scheme;
//     line-height: 1.5;
//     text-align: center;
//     font-size: 145%;
//     padding: 15px 20%;
//     padding-bottom: 200px;
// }

// .about-header {
//     font-size: 165%;
//     font-weight: 600;
//     padding-top: 175px;
//     margin-bottom: 25px;
// }

.about-container {
    @include secondary-color-scheme;
    line-height: 1.6;
    text-align: center;
    font-size: 120%;
    padding: 20px;
    padding-bottom: 200px;
}

.about-header {
    font-size: 160%;
    padding-top: 190px;
    margin-bottom: 40px;
}