.intro-header {
    background-color: map-get($colors, primary-bg);
    position: relative;
    text-align: center;
    font-weight: 500;
    font-size: 155%;
    padding: 100px 8px 70px 8px;
    margin-bottom: 50px;
}

.intro-header h1 {
    font-weight: 600;
    font-size: 160%;
    padding-bottom: 50px;
}