.image-container {
    width: 18%;
    margin: 5px auto;
    position: absolute;
    left: 41%;
    top: 90%;
    z-index: 1;
}

.self-image {
    width: 100%;
    height: auto;
    border-radius: 50%;
}