$break-medium: 900px;
$break-large: 1200px;
$break-xl: 1800px;

@media screen and (min-width: $break-medium) {
    .intro-header {
        font-size: 200%;
        margin-bottom: 120px;
    }

    .intro-header h1 {
        font-size: 155%;
        margin-bottom: 40px;
    }

    .image-container {
        width: 22%;
        top: 75%;
        left: 39%;
    }

    .about-container {
        font-size: 140%;
    }

    .about-header {
        font-size: 170%; 
        padding-top: 150px;  
    }
}

@media screen and (min-width: $break-large) {
    .intro-header {
        font-size: 180%;
        font-weight: 500;
        padding-top: 100px;
        margin-top: 0px;
        margin-bottom: 150px;
        padding-bottom: 90px;
    }
    
    .intro-header h1 {
        font-weight: 600;
        font-size: 150%;
        padding-bottom: 35px;
    }

    .card-container {
        position: relative;
        width: 50%;
    }
}