@mixin primary-color-scheme {
    background-color: map-get($colors, primary-bg);
    color: map-get($colors, primary);
}

@mixin secondary-color-scheme {
    background-color: map-get($colors, secondary-bg);
    color: map-get($colors, secondary);
}