@mixin primary-color-scheme($background, $text) {
    background-color: $background;
    color: $text;
}

@mixin secondary-color-scheme {
    background-color: map-get($colors, secondary-bg);
    color: map-get($colors, secondary);
}